<table style="table-layout: fixed;">
  <tr>
    <td>
      Mr:
      <span style="border-bottom: 1px dotted #131a6e;width: 650px;display: inline-block;">
        .{{name}}
      </span>
      <span style="float: right;">السادة:</span>        
    </td>
  </tr>
</table>
<br />

<table style="table-layout: fixed;width: 340px;">
  <tr>
    <td style="padding-right: 20px;">      
      <span style="text-decoration: underline;">Driver Details:</span> 
      <span style="float: right;text-decoration: underline;">السائق:</span>
    </td>
    <td style="padding-left: 20px;">      
      <span style="text-decoration: underline;">Vehicle Details:</span> 
      <span style="float: right;text-decoration: underline;">السيارة:</span>
  </td>
  </tr>

  <tr>
    <td style="padding-right: 20px;">
      Iqama No:
      <span style="border-bottom: 1px dotted #131a6e;width: 210px;display: inline-block;">
        . {{iqama}}
      </span>
      <span style="float: right;">رقم الإقامة:</span>
      
    </td>
    <td style="padding-left: 20px;">
      Model No:
      <span style="border-bottom: 1px dotted #131a6e;width: 210px;display: inline-block;">
        . {{modelno}}
      </span>
      <span style="float: right;">رقم الموديل:</span>      
    </td>
  </tr>
  <tr>
    <td style="padding-right: 20px;">
      Mobile No:
      <span style="border-bottom: 1px dotted #131a6e;width: 210px;display: inline-block;">
        . {{mobile}}
      </span>
      <span style="float: right;">جوال:</span>
      
    </td>
    <td style="padding-left: 20px;">
      Plate No:
      <span style="border-bottom: 1px dotted #131a6e;width: 210px;display: inline-block;">
        . {{plate}}
      </span>
      <span style="float: right;">رقم اللوحة:</span> 
    </td>
  </tr>
</table>
<br/>









  