<p>
    Mr:
    <span
      style="
        border-bottom: 1px solid #000;
        width: 260px;
        display: inline-block;
      "
      >. {{name}}</span
    >
  </p>
  <p>
    Driver Details:
    <span
      style="
        border-bottom: 1px solid #000;
        width: 255px;
        display: inline-block;
      "
      >. {{driver}}</span
    >
  </p>
  <p>
    Iqama No:
    <span
      style="
        border-bottom: 1px solid #000;
        width: 255px;
        display: inline-block;
      "
      >. {{iqama}}</span
    >
  </p>
  <p>
    Mobile no:
    <span
      style="
        border-bottom: 1px solid #000;
        width: 255px;
        display: inline-block;
      "
      >. {{mobile}}</span
    >
  </p>