<table class="center-table">
    <tr>
      <th style="text-align: center">SLNO.</th>
      <th style="text-align: center">الوصف<br />DESCRIPTION </th>
      <th style="text-align: center">الوحدة<br />UNIT</th>
      <th style="text-align: center">الكمية<br />QTY</th>
    </tr>
    {% for item in items %}
    <tr>
      <td style="width: 50px;text-align: center">{{forloop.counter}}</td>
      <td style="width: 500px">{{item.0}}</td>
      <td style="width: 75px;text-align: center">{{item.0}}</td>
      <td style="width: 75px;text-align: center">{{item.1}}</td>
    </tr>
    {% endfor %}

  </table>
  <div style="text-align: right">Total: {{totalqty}}</div>