{% load app_extras %}
<table style="table-layout: fixed;width: 340px;">
    <tr>
        <td style="padding-right: 20px;">     
            <span style="border-bottom: 1px dotted #131a6e;width: 210px;display: inline-block;">.</span> 
            توقيع المسلم:
            
        </td>
        <td style="padding-right: 20px;">    
            <span style="border-bottom: 1px dotted #131a6e;width: 210px;display: inline-block;">.</span>              
            <span style="float: right;">توقيع المستلم:</span>
        </td>
    </tr>
</table>
<br />
<br />
<hr style="border-color: #131a6e;" />

<p style="text-align: center;"> - النجران - الدمام - جدة - الرياض  - جوال :{{'0544448488'|to_arabic}}</p>