<html>
  <head>
    <meta charset="utf-8" />
    <title>Material Transport Invoice</title>
  </head>
  <style>
    @page {
      size: A4;
      margin: 25px;
    }

    body {
      font-size: 12px;
      color:#131a6e;      
    }

    {% comment %} * {
      border-style: solid;
      border-color: #131a6e;
  } {% endcomment %}
    
    
    td {
      width: 100%;
    }
   
    /* need to remove */
    table {
      border: 1px solid #000;
    }
  </style>

  <body>
    {% include "pdf/1_header.html" %}
    {% include "pdf/2_details.html" %}
    {% include "pdf/3_description.html" %}
    {% include "pdf/4_footer.html" %} 
  </body>
</html>
