{% extends 'base.html' %}
{% load static %}

{% block extraextra_content %}
<div class="card-body">
  <form method="post" action="." id="frm_ac">{% csrf_token %}  
    <div class="mb-3">
      <label for="lblname" class="form-label">Name:</label>
      <input class="form-control" id="lblname" name="name" required>
    </div>
    <div class="mb-3">
      <label for="lbliqama" class="form-label">Iqama Number:</label>
      <input class="form-control" id="lbliqama" name="iqama" required>
    </div>

    <div class="mb-3">
      <label for="lblmobile" class="form-label">Mobile Number:</label>
      <input class="form-control" id="lblmobile" name="mobile" required>
    </div>

    <div class="mb-3">
      <label for="lblmodel" class="form-label">Model Number:</label>
      <input class="form-control" id="lblmodel" name="model" required>
    </div>
    <div class="mb-3">
      <label for="lblplate" class="form-label">Plate Number:</label>
      <input class="form-control" id="lblplate" name="plate" required>
    </div>

    <input type="hidden" id="items" name="items">
    
    <div id="amount_table"></div><br>
    
    <hr>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary" type="submit">Generate</button>
    </div>
  </form>
</div>
{% endblock %}


{% block extrajs %}
<script src="{% static 'handsontable/handsontable.full.min.js' %}"></script>
<script type="text/javascript">

  var container = document.getElementById('amount_table');
  var amount_table = new Handsontable(container, {
    columns: [
      { data: 1, type: "text" },
      { data: 2, type: "text" },
      { data: 3, type: "numeric" },
    ],
    colWidths: [160,40, 40],
    rowHeaders: true,
    startRows: 30,
    colHeaders: [
      'Description',
      'Unit',
      'Qty',
    ],
    licenseKey: 'non-commercial-and-evaluation',
    afterChange(changes, source) {
        let amts = this.getData(); // getDataAtCol(1);
        $("#items").val(JSON.stringify(amts));
        console.log(amts)
    }
  });

</script>

{% endblock %}